<!DOCTYPE html>
<html>
<head><title>Listado de Libros</title></head>
<body style="font-family: Arial; padding: 2rem;">
    <h2>📚 Lista de Libros</h2>
    <a href="{% url 'libro_create' %}">➕ Nuevo Libro</a>
    <table border="1" cellpadding="5" cellspacing="0">
        <tr>
            <th>Nombre</th>
            <th>Autor</th>
            <th>Género</th>
            <th>Fecha Lanzamiento</th>
            <th>Acciones</th>
        </tr>
        {% for libro in libros %}
        <tr>
            <td>{{ libro.nombre }}</td>
            <td>{{ libro.autor.nombre }}</td>
            <td>{{ libro.genero.nombre }}</td>
            <td>{{ libro.fecha_lanzamiento }}</td>
            <td>
                <a href="{% url 'libro_update' libro.id %}">✏️ Editar</a>
                <a href="{% url 'libro_delete' libro.id %}">🗑️ Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <!-- Paginación -->
    <div class="pagination">
        <span>Página {{ libros.number }} de {{ libros.paginator.num_pages }}</span><br>
        {% if libros.has_previous %}
            <a href="?page=1">« primera</a>
            <a href="?page={{ libros.previous_page_number }}">‹ anterior</a>
        {% endif %}
        {% if libros.has_next %}
            <a href="?page={{ libros.next_page_number }}">siguiente ›</a>
            <a href="?page={{ libros.paginator.num_pages }}">última »</a>
        {% endif %}
    </div>
</body>
</html>
